280NPLIST;1.0;D;K;18;CPBundleIdentifierS;32;org.archipelproject.messageboardK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;12;MessageBoardK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;15;MessageBoard.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;