280NPLIST;1.0;D;K;18;CPBundleIdentifierS;35;org.archipelproject.growlcappuccinoK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;15;GrowlCappuccinoK;19;CPBundlePackageTypeS;4;FMWKK;25;TNGrowlUseMouseMoveEventsd;1;0K;22;TNGrowlDefaultLifeTimed;1;5K;15;CPBundleVersionS;3;1.0K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;18;GrowlCappuccino.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;