280NPLIST;1.0;D;K;18;CPBundleIdentifierS;37;org.archipelproject.strophecappuccinoK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;17;StropheCappuccinoK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;20;StropheCappuccino.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;